<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    
    <link rel="stylesheet" href="../public/css/pizza.css">

    <main>
    
        <article>
            <img src="<%= pizza.img %>" alt="<%= pizza.nome%>">
            <a href="/pizzas/<%= pizza.id %>">Ver Mais</a>
            <button>+Add</button>
            <div><%= pizza.nome %></div>
            <span>R$ <%= pizza.preco %></span>
        </article>
        
    </main>

</body>
</html>