<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzaria fantástica</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">

   <!-- favicon -->
   <link rel="icon" type="image/png" sizes="16x16" href="../img/pizza-favicon-16x16.png">
   <link rel="icon" type="image/png" sizes="32x32" href="../img/pizza-favicon-32x32.png">
</head>
<body>
    
    <link rel="stylesheet" href="../css/pizza.css">

    <main>
    
        <article>
            <h1><%= pizza.nome %></h1>
            <h2>R$ <%= pizza.preco %></h2>
            <img src="<%= pizza.img %>" alt="<%= pizza.nome%>">
            <div><%= pizza.ingredientes %> </div>
            <button>+ Add</button>

            
            <a href="/pizzas/<%= pizza.id + 1%>" class="next">></a>
            <a href="/pizzas/<%= pizza.id - 1%>" class="prev"><</a>
            
            
        </article>
        
    </main>

</body>
</html>