<%- include('./partials/header.ejs') %>

<body>
    
    <link rel="stylesheet" href="/css/pizza.css">

    <main>
    
        <article>
            <h1><%= pizza.nome %></h1>
            <h2>R$ <%= pizza.preco %></h2>
            <img src="<%= pizza.img %>" alt="<%= pizza.nome%>">
            <div><%= pizza.ingredientes %> </div>
            <form action="/pizzas/addCart" method="post">
                <input type="hidden" value="<%= pizza.id %>" name="theChosenOne">
                <button type="submit">+Add</button>
            </form>

            
            <a href="/pizzas/<%= pizza.id + 1%>" class="next">></a>
            <a href="/pizzas/<%= pizza.id - 1%>" class="prev"><</a>
            
            
        </article>
        
    </main>

</body>
</html>